<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= item.name %></title>
  </head>
  <body>
    <h1><%= item.name %></h1>
    <p><%= item.description %></p>
    <a href="/item/<%= item._id %>/edit">Edit</a>
    <form
      action="/item/<%= item._id %>/delete"
      method="post"
      style="display: inline"
    >
      <button type="submit">Delete</button>
    </form>
    <a href="/">Back to List</a>
  </body>
</html>
