<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>urunler</title>
  </head>
  <body>
    <h1>urunler</h1>
    <p><%= liste[0].name %> <%= liste[0].price %></p>

    <ul>
      <% liste.forEach(urun => { %> <% if (urun.price >= 40000 && urun.isActive)
      { %>
      <li>
        <a href="/urunler/<%= urun.id %>">
          <%= urun.name %> - <%= urun.price %>
        </a>
      </li>
      <% } %> <% }) %>
    </ul>
  </body>
</html>
